RESEND_API_KEY=
EMAIL_FROM_ADDRESS=
EMPLOYEE_001_EMAIL=
EMPLOYEE_002_EMAIL=
EMPLOYEE_003_EMAIL=
EMPLOYEE_004_EMAIL=
EMPLOYEE_005_EMAIL=
EMPLOYEE_006_EMAIL=
EMPLOYEE_007_EMAIL=
EMPLOYEE_008_EMAIL=
EMPLOYEE_009_EMAIL=
EMPLOYEE_010_EMAIL=
EMPLOYEE_011_EMAIL=
EMPLOYEE_012_EMAIL=
EMPLOYEE_013_EMAIL=
EMPLOYEE_014_EMAIL=
EMPLOYEE_015_EMAIL=
EMPLOYEE_016_EMAIL=
EMPLOYEE_017_EMAIL=
EMPLOYEE_018_EMAIL=
EMPLOYEE_019_EMAIL=
EMPLOYEE_020_EMAIL=
EMPLOYEE_021_EMAIL=
EMPLOYEE_022_EMAIL=
EMPLOYEE_023_EMAIL=
EMPLOYEE_024_EMAIL=
EMPLOYEE_025_EMAIL=
EMPLOYEE_026_EMAIL=
EMPLOYEE_027_EMAIL=
EMPLOYEE_028_EMAIL=
EMPLOYEE_029_EMAIL=
EMPLOYEE_030_EMAIL=
ALLOWED_ORIGIN=http://localhost:5173
CAPTCHA_SECRET=
CONTACT_DRY_RUN=true
